body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%; 
      }

html {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/ce/67/21/ce672126644ea1f39542cccb7342267a.jpg);
}

.status {
  white-space: normal;
  width : 400px;
  height : 400px;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative; 
  background-color: white;
}

#summarize {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #5EEEE6;
  display: inline-block;
  font-size: 15px;
}

#summarize:hover {
  background-color: #4DC5BE;
}